<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMedWCF" />
                <binding name="BasicHttpBinding_IMedWCF1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/MedWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMedWCF" contract="ServiceReference1.IMedWCF"
                name="BasicHttpBinding_IMedWCF" />
            <endpoint address="http://localhost:8085/MedWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMedWCF1" contract="ServiceReference1.IMedWCF"
                name="BasicHttpBinding_IMedWCF1" />
        </client>
    </system.serviceModel>
</configuration>